body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 16px;
    background-color: transparent;
    position: absolute;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
}
#ganyiji{
    background-color: #ffffff;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    width:100%;
    height: 100%;
    background-image: url('img/shouye_beijing.png');
    background-size: 115%;
    background-repeat: no-repeat;
    z-index: 999;
    position: relative;
}

#beijing_test{
    background-image: url('img/shouye_beijing.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 28px;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#statusBar{
    background-color: transparent;
    height: 20px;
    width: 100%;
    -webkit-box-align: center;
    display: none;
}

#container{
    -webkit-box-flex:1;
    width: 100%;
    -webkit-box-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#title{
    height: 3rem;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background-color: #36404a;
    display: none;
}

#content{
    -webkit-box-flex:1;
    width: 100%;
    display:-webkit-box;
    -webkit-box-orient: vertical;
}

#footer{
    height: 3.125rem;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

#title_btn{
    width: 4.25rem;
    background-image: url('img/back.png');
    height: 3.25rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: -20px;
    margin-left: 0.75rem;
}

#title_info span{
    MARGIN-TOP: 1.375rem;
    FLOAT: LEFT;
    font-family: Microsoft YaHei;
}

#title_name{
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display:-webkit-box;
    -webkit-box-flex: 1;
    color:#ffffff;
    font-size: 20px;
    font-family: 微软雅黑;
    text-align: center;
    margin-left: -2.3125rem;
}

#title_info{
    width: auto;
    color:#ffffff;
    margin-right: 0.75rem;
}

#functionsPage{
    -webkit-box-flex: 1;
    margin-top: 1.25rem;
}

.footItem{
    width: 25%;
    height: 100%;
    float: left;
}

#appointment{
    margin-left: 1.5625rem;
    margin-top: 1.5625rem;
    width: 1.5625rem;
    height: 1.5625rem;
    background-image: url('img/appiont.png');
    background-size: 100%;
    z-index: 100;
    position: relative;
}

#first_line{
    width: 100%;
    height: 64px;
    transition: rot;
    transform: rotate(39deg);
    margin-left: 40px;
}

.fc_type{
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 1.3125rem;
    text-align: center;
    background-size: 100%;
}

.fc_type_first{
    margin-left: 81px;
}

#functions_item{
    width: auto;
    height: auto;
    float: left;
    position: relative;
    margin-top: -1.375rem;
    z-index: 0;
}
.fc_one{
    margin-left: 7.25rem;
    float: left;
    background-image: url('img/shirt.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
    position: relative;
    top: 0.5625rem;
}

.fc_one_focus{
    background-image: url('img/shirt_focus.png');
}

#fc_tandt{
    float:left;
    width: 100%;
}

.fc_two{
    float: left;
    margin-left: 2.28rem;
    background-image: url('img/socks.png');
    background-repeat: no-repeat;
    position: relative;
    top: -0.25rem;
}

.fc_two_focus{
    background-image: url('img/socks_focus.png');
}


.fc_three{
    float: left;
    margin-left: 4.3rem;
    background-image: url('img/underclothes.png');
    background-repeat: no-repeat;
    position: relative;
    top: -0.25rem;
}

.fc_three_focus{
    background-image: url('img/underclothes_focus.png');
}

.fc_four{
    float: left;
    margin-left: 7.25rem;
    background-image: url('img/others.png');
    background-repeat: no-repeat;
    position: relative;
    top: -0.8125rem;
}

.fc_four_focus{
    background-image: url('img/others_focus.png');
}

#action_control{
    float: left;
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    color: rgba(255,255,255,0.6);
}

.control_item{
    float: left;
    height: 100%;
}

#fenggan{
    width: 1.875rem;
    margin-right: 1rem;
    float: right;
}

#btn_control{
    width: 12.3rem;
    margin-left: 0.9375rem;
    background: rgba(255,255,255,0.2);
    border-radius: 2.375rem;
}

#jiare{
    width: 1.875rem;
    margin-left: 1rem;
}

#statusPage{
    -webkit-box-flex: 1;
    display: none;
}

#bigTime{
    color: #ffffff;
    float: left;
    width: auto;
    height: auto;
    font-size: 3.5rem;
    font-family: myFirstFont;
}

#appiontTime{
    color: rgba(255,255,255,0.5);
    font-size: 1rem;
    font-family: YouYuan;
}

#lastTime{
    color: #353d43;
    float: left;
    font-size: 1rem;
    margin-top: 0.4rem;
}

#status_time{
    margin-top: 1rem;
    height: auto;
    float: left;
    width: 100%;
}

#frontTime{
    width: 4.75rem;
    height: 4rem;
    float: left;
    margin-left: 1.875rem;
    font-size: 1.125rem;
    font-family: YouYuan;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}

#canvas_dian{
    float: left;
    width: 100%;
    height: 12rem;
    margin-top: 1rem;
}

#cvs{
    position: absolute;
}

#current_dian{
    color: #ffffff;
    position: absolute;
    top: 11.5rem;
    left: 7rem;
    font-size: 3.5rem;
    font-family: myFirstFont;
    height: auto;
}

#dian_below{
    top: 15rem;
    left: 8.5rem;
    color: #a6abac;
    position: absolute;
    font-family: 楷体;
    font-family: YouYuan;
}

.danwei{
    position: absolute;
    top: 13.2rem;
    left: 13rem;
    color: #a6abac;
    font-family: YouYuan;
}

#ganyi_img{
    background-image: url('img/ganyi_focus.png');
}

#status_img{
    background-image: url('img/zhuangtai.png');
    background-size: 50%;
    background-position: 1.3rem -0.2rem;
}

div#status_img {
}

#interaction_img{
    background-image: url('img/hudong.png');
    background-size: 38%;
    background-position: 1.5rem -0.2rem;
}

div#interaction_img {
}

#market_img{
    background-image: url('img/shangcheng.png');
    background-size: 42%;
    background-position: 1.5rem -0.2rem;
}

.footItemImg{
    width: 100%;
    height: 52%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 1.2rem -0.15rem;
}

.footItemText{
    text-align: center;
    color: rgba(255,255,255,0.6);
    font-family: Microsoft YaHei;
    font-size: 14px;
}

#title_name span{
    position: relative;
    top: 0.3125rem;
    font-family: Microsoft YaHei;
}

#startOrPause{
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 2.5rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    transition-duration: 0.3s;
    background-image: url('img/ganyi_start.png');
    background-size: 100%;
    -webkit-transition-duration: 0.3s;
}

#fenggan_img{
    width: 100%;
    height: 1.5rem;
    background-image: url('img/fenggan.png');
    background-size: 100%;
    margin-top: 1.3rem;
    background-repeat: no-repeat;
}

#fenggan_text{
    width: 200%;
    font-family: YouYuan;
}

#jiare_img{
    float: left;
    width: 28px;
    height: 28px;
    width: 1.875rem;
    height: 1.5rem;
    background-image: url('img/refeng.png');
    background-size: 100%;
    margin-top: 1.3rem;
    background-repeat: no-repeat;
}

#jiare_text{
    float: left;
    width: 200%;
    font-family: YouYuan;
}

#charts_container{
    float: left;
    width: 100%;
    margin-top: 2.5rem;
    margin-left: -0.75rem;
    height: 10rem;
}

#appionmentPage{
    -webkit-box-flex: 1;
    display: none;
}

#appiontmentClock{
    float: left;
    margin-top: 1.75rem;
    width: 40px;
    height: 40px;
    margin-left: 2rem;
    background-image: url('img/appiont_start.png');
    background-size: 100%;
}


#time_kedu{
    width: 100%;
    height: 15.3125rem;
    position: absolute;
    top: 7.5rem;
    left: 2.25rem;
    color: #ffffff;
    font-family: YouYuan;
    z-index: 100;
    left: 0;
}

#canvas_kedu{
    top: 5rem;
    position: absolute;
    z-index: 50;
    left: 0;
}

#canvas_kedu_di{
    position: absolute;
    z-index: 1;
    top: 5rem;
    left: 0;
}

#start{
    width: 0.125rem;
    height: 12.0625rem;
    position: absolute;
    left: 9.9375rem;
    top: 1.5625rem;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    z-index: 10;
}

#end{
    z-index: 100;
    width: 0.125rem;
    height: 12.0625rem;
    position: absolute;
    left: 9.9375rem;
    top: 1.5625rem;
    /* transform: rotate(90deg); */
    /* -webkit-transform: rotate(90deg); */
    z-index: 10;
}


#time_kedu2{
    float: left;
    width: 160px;
    margin-top: 611px;
    height: 160px;
    position: absolute;
    top: -401px;
    background: rgba(255,255,25,0.2);
    left: 23%;
    border-radius: 122px;
    display: none;
}

#start_jiao{
    width: 3.375rem;
    height: 3.375rem;
    position: absolute;
    left: -1.35rem;
    background-image: url('img/start_jiao.png');
    background-size: 39%;
    background-repeat: no-repeat;
    background-position: 0.85rem 1rem;
    z-index: 100;
    top: -1rem;
}

#end_jiao{
    width: 3.375rem;
    height: 3.375rem;
    position: absolute;
    left:  -1.35rem;
    background-image: url('img/end_jiao.png');
    background-size: 39%;
    background-repeat: no-repeat;
    background-position: 0.85rem 1rem;
    z-index: 100;
    top: -1rem;
}

#appionment_start_time{
    width: 7rem;
    position: absolute;
    top: 3.5rem;
    left: 7.2rem;
    font-family: Microsoft YaHei;
    color: #2591b0;
}

#appionment_end_time{
    width: 7rem;
    position: absolute;
    top: 7.8rem;
    left: 7.2rem;
    font-family: Microsoft YaHei;
    color: #ee821b;
}

#appionment_start{
    font-size: 0.875rem;
    text-align: center;
    letter-spacing: 0.25rem;
    font-family: Microsoft YaHei;
    margin-left: -1rem;
    /* margin-top: 0.3rem; */
}

#appionment_start_num{
    font-size: 2rem;
    font-family: myFirstFont;
    /* margin-top: 0.5rem; */
    text-align: center;
    margin-left: -1rem;
}

#appionment_end{
    text-align: center;
    letter-spacing: 0.3rem;
    font-family: Microsoft YaHei;
    font-size: 0.875rem;
    /* margin-top: 0.3125rem; */
    margin-left: -1rem;
}

#appionment_end_num{
    font-size: 2rem;
    font-family: myFirstFont;
    text-align: center;
    margin-top: -0.25rem;
    margin-left: 0.125rem;
    margin-left: -1rem;
}

#zhanwei{
}

#deviceList{
    background-color: #ffffff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 100%;
}

.deviceItem{
    height: 10%;
    width: 100%;
    border: 1px solid;
}

#deviceItem_name{
    width: auto;
    float: left;
    margin-top: 1.25rem;
    margin-left: 1rem;
    font-family: myFirstFont;
}

#deviceItem_right{
    float: right;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
}

#deviceItem_img{
    width: 2rem;
    height: 2rem;
    background-image: url('img/device.png');
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-top: 0.8rem;
    margin-left: 1rem;
}

#kedu{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}

#appionment_start_tomorrow{
    width: auto;
    float: left;
    font-size: 0.6rem;
    margin-top: 0.4rem;
    color: #ffffff;
    display: none;
    font-family: Microsoft YaHei;
    position: absolute;
}

#appionment_end_tomorrow{
    width: auto;
    float: left;
    font-size: 0.6rem;
    margin-top: 0.7rem;
    color: #ffffff;
    position: absolute;
}

#theSecondDay{
    width: auto;
    position: absolute;
    top: 11.2rem;
    left: 9.325rem;
    font-family: Microsoft YaHei;
    color: #ee821b;
    font-size: 0.5rem;
}

#cover{
    width: 100%;
    height: 15.3125rem;
    position: absolute;
    top: 7.5rem;
    left: 2.25rem;
    color: #ffffff;
    font-family: YouYuan;
    z-index: 100;
    left: 0;
    display: none;
}

#scan{
    position: fixed;
    bottom: 2rem;
    background-color: rgba(199, 189, 189, 0.35);
    width: 6.25rem;
    height: 6.25rem;
    left: 7rem;
    border-radius: 5rem;
}